
body 
	font-family: 'Raleway', sans-serif

	#music-app
		.event
			line-height: 2.5em
			&:hover
				background: #f5f5f5
		.soldout
			background: #f5f5f5
			opacity: 0.5
			.price
				font-size: 0.8em